<div id="content">
	<page size="A4" layout="portrait" *ngFor="let docHisListdocHisList in crrDocHisList; let idx = index">
		<!-- 상단 타이틀 -->
		<div class="row under-line" [ngStyle]="{'visibility': idx == 0 ? 'visible' : 'hidden'}">
			<div class="col-sm-4">
				<h4 class="content-title">스캔박스({{scanBoxNo}}) 교정내역</h4>
			</div>

			<div class="col-sm-3 col-sm-offset-4 text-right">
				<h4 class="content-title">교정자: {{docHisList[0].crrUserNm}}</h4>
			</div>

			<div class="col-sm-1 plzero mt print-hidden">
				<div class="btn-group btns-size">
					<button type="button" class="btn btn-default" title="문서교정내역 출력" (click)="docCrrHis()">
						출력
						<span class="glyphicon glyphicon-print"></span>
					</button>
				</div>
			</div>
		</div>

		<!-- 상단 타이틀 끝 -->
		<div class="row prlzero">
			<div class="col-sm-12 prlzero">
				<table class="table table-bordered table-responsive">
					<colgroup>
						<col width="7%">
						<col width="6%">
						<col width="6%">
						<col width="21%">
						<col width="6%">
						<col width="7%">
						<col width="21%">
						<col width="6%">
						<col width="6%">
						<col width="6%">
						<col width="8%">
					</colgroup>
					<thead class="theader-color">
						<tr>
							<th colspan="5">변경전</th>
							<th colspan="5">변경후</th>
							<th rowspan="2">이동매수</th>
						</tr>
						<tr>
							<th>분류묶음</th>
							<th>묶음순번</th>
							<th>문서순번</th>
							<th>문서분류기준값</th>
							<th>문서구분</th>
							<th>분류묶음</th>
							<th>문서분류기준값</th>
							<th>묶음순번</th>
							<th>문서순번</th>
							<th>문서구분</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let data in docHisList let idx = index">
							<td align="center">{{data.chgBefoCtgryBundNm}}</td>
							<td align="center">{{data.chgBefoDocCtgryBundSn}}</td>
							<td align="center">{{data.chgBefoCtgryDocSn}}</td>
							<td align="center">{{data.chgBefoDocCtgryBaseVal}}</td>
							<td align="center">{{'Y' == data.chgBefoBaseDocYn ? '기준문서' : '부가문서'}}</td>
							<td align="center">{{data.chgAfteCtgryBundNm}}</td>
							<td align="center"
								[ngClass]="{'NORMAL' : 'info', 'CLOSED' : 'success', 'DISCAR' : 'danger'}[data.chgAfteCtgryBundCd]">
								{{data.chgAfteDocCtgryBaseVal}}
							</td>
							<td align="center">{{data.chgAfteDocCtgryBundSn}}</td>
							<td align="center">{{data.chgAfteCtgryDocSn}}</td>
							<td align="center">{{'Y' == data.chgAfteBaseDocYn ? '기준문서' : '부가문서'}}</td>
							<td align="right">{{data.docCnt}}</td>
						</tr>
					</tbody>
				</table>
				<div align="center">{{ (idx+1) + "/" +crrDocHisList.length}}</div>
			</div>
		</div>
	</page>
</div>