@charset "UTF-8";
#content {
    display: block !important;
}

body {
    background: rgb(204, 204, 204);
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}

page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}

page[size="A3"][layout="portrait"] {
    width: 42cm;
    height: 29.7cm;
}

page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}

page[size="A5"][layout="portrait"] {
    width: 21cm;
    height: 14.8cm;
}

@media print {
    @page {
        size: landscape;
        margin: 5mm;
    }
    body, page {
        margin: 0;
        box-shadow: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-inside: avoid;
    }
    .print-hidden {
        visibility: hidden;
    }
    .table td, .table th {
        background-color: #fff !important;
    }
}

.theader-color {
    background-color: #5D5A5A;
    color: white;
}

/*테이블 스크롤*/

page {
    padding: 3px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.font-14 {
    font-size: 14px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
}

.corr-title {
    font-style: italic;
    border-bottom: solid black 1px;
}